#container{
    height: 640px;
    width: 640px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px auto;
}

h1{
    text-align: center;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.buttons {
    width: 640px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons button {
    border-style: none;
    background-color: coral;
    color: white;
    border-radius: 10px;
    transition: 0.2s;
}

.buttons button:hover{
    transform: scale(1.1);
    color: black;
    background-color: aquamarine;
}