#container{
    height: 640px;
    width: 640px;
    border: 1px solid black;
    margin: 10px auto;
}

h1{
    text-align: center;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}